{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

    <div id="page-wrapper">
        <div class="row">
            <div class="col-xs-3 col-md-11 col-lg-11">

{#                Replaces all content within #sourceLogo, #pageHeader, #search on ajax call#}
                <img src="" id="sourceLogo" class="img-responsive"/>
                <h1 class="page-header panel-heading" id="pageHeader" data-source="">{{ header }}</h1>
                <div id="search"></div>
            </div>


            <div class="col-xs-12 col-md-12 col-lg-12">
{#                Replaces all content within #pagebody on ajax call#}
                <div class="panel-body" id="pageBody">
                     <ul class="timeline">
                        <li>
                            <div class="timeline-badge primary"><i class="fa fa-twitter"></i>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="timeline-title">Tweets from {{ screen_name }}</h4>
                                </div>
                                <div class="timeline-body">
                                    {% for tweet in tweets %}
                                    <p><i class="fa fa-twitter"></i>{{ tweet.text }}</p><br>
                                    {% endfor %}
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-badge success"><i class="fa fa-hacker-news"></i>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="timeline-title">Favorite News Articles</h4>
                                </div>
                                <div class="timeline-body">
                                    {% for article in news|slice:"3" %}
                                        <p><strong>{{ article.title }}</strong>
                                        <p><em>{{ article.source}} &nbsp; &nbsp; <a href="{{ article.web_url }}">Read more</a></em></p>
                                        <p>{{ article.abstract}}</p><br>
                                    {% endfor %}
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-badge danger"><i class="fa fa-video-camera"></i>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="timeline-title">Entertainment you enjoy</h4>
                                </div>
                                <div class="timeline-body">
                                    {% for video in entertainment|slice:"3" %}
                                        <p><strong>{{ video.title }}</strong>
                                        <p><em>{{ video.source}} &nbsp; &nbsp; <a href="{{ video.url }}">Link there</a></em></p>
                                        <img id="url" data-url="{{ video.url }}" src="{{ video.url }}" style="width: 100%;"/>
                                    {% endfor %}
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>

{% endblock %}