{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header panel-heading">  <img src="{% static "img/favorite.jpeg" %}" style="width: 40px; height: 40px;"/> Favorites</h1>
                <div class="row">

                    {% if favorite_news|length == 0 and favorite_entertainment|length == 0 %}
                        <h4 class="panel-heading" style="margin-left: 15px">No favorites yet! <a href="{% url "dashboard" %}">Get busy exploring...</a></h4>

                    {% else %}

                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Favorite news articles
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-lg-10" id="favoritesBody">
                                        {% for news in favorite_news %}
                                            <h4>
                                                <p id="title" data-title="{{ news.title }}">{{ news.title }}</p>
                                                <img id="favorite-icon-news-saved" class="favorite" src="{% static "img/favorite.jpeg" %}">
                                            </h4>
                                            <div>
                                                <p id="source" data-source="{{ news.source }}"><em>{{ news.source }}</em></p><br>
                                                <a class="news-more-options" id="web_url" data-web_url="{{ news.web_url }}" href="{{ news.web_url }}">Read more</a>
                                                <a class="news-more-options" href="mailto:?subject=Interesting Article">Email</a>
                                            </div>
                                            <div id="abstract" data-abstract="{{ news.abstract }}">{{ news.abstract }}
                                            </div><br>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Favorite entertainment / videos
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-lg-10" id="favoritesBody">
                                        {% for video in favorite_entertainment %}
                                            <h4>
                                                <p id="title" data-title="{{ video.title }}">{{ video.title }}</p>
                                                <img id="favorite-icon-entertainment-saved" class="favorite" src="{% static "img/favorite.jpeg" %}">
                                                <a id="url" data-url="{{ video.url }}" href="{{ video.url }}" style="font-size: 12px; float: right;">Go to Link / &nbsp;</a>
                                                <a href="mailto:?subject=Funny stuff!" style="font-size: 12px; float: right;">Email a friend / &nbsp; </a>
                                            </h4>
                                            <div>
                                                <p id="source" data-source="{{ video.source }}"><em>{{ video.source }}</em></p><br>
                                                <p id="description" data-description="{{ video.description }}">{{ video.description }}</p>
                                                <img id="url" data-url="{{ video.url }}" src="{{ video.url }}" style="width: 100%;"/>
                                            </div><br>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    {% endif %}

                </div>
            </div>
        </div>
    </div>

{% endblock %}