{% load staticfiles %}

<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>All. About. Me.</title>

        <!-- Bootstrap Core CSS -->
        <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">

        <!-- MetisMenu CSS -->
        <link href="{% static "css/plugins/metisMenu/metisMenu.min.css" %}" rel="stylesheet">

        <!-- Timeline CSS -->
        <link href="{% static "css/plugins/timeline.css" %}" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="{% static "css/sb-admin-2.css" %}" rel="stylesheet">
        <link href="{% static "css/custom.css" %}" rel="stylesheet">

        <!-- Morris Charts CSS -->
        <link href="{% static "css/plugins/morris.css" %}" rel="stylesheet">

        <!-- Custom Fonts -->
        <link href="{% static "font-awesome-4.1.0/css/font-awesome.min.css" %}" rel="stylesheet" type="text/css">
        <link href="http://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet" type="text/css">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <title></title>
    </head>

    <body>

    {% block content %}

        <div id="intro-header">
        <div class="login"> Already a member? <a href="{% url "login" %}">Log In</a>
        </div><br>
        <h1 id="home-header"> all. &nbsp; about. &nbsp; you.</h1>
            <h3 id="home-subheader"> All your favorite websites in one place. Unlock yourself.</h3>
            <div class="container">
                <div class="row">

                    <div class="col-md-4 col-md-offset-4">
                        <div class="login-panel panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"> Register Now</h3>
                            </div>
                            <div class="panel-body">
                                <form method="post">
                                    {% csrf_token %}
                                    {% for field in register_form %}
                                    <div class="form-group">
                                        {{ field }}
                                        {{ field.error }}
                                    </div>
                                    {% endfor %}
                                    <input type="submit" value="Register" name="register" class="btn btn-lg btn-success btn-block">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>

    <!-- Three columns of text below the carousel -->
    <div class="intro-message">
          <div class="row">
            <div class="intro-box col-lg-3">
              <img class="img-circle" src="{% static "img/one_website.jpg" %}" style="width: 140px; height: 140px;">
              <h2>One website</h2>
              <p>All your favorite websites with your favorite content located on a single site. You pick the websites you choose and we take care of the rest.</p>
            </div><!-- /.col-lg-4 -->
            <div class="intro-box col-lg-3">
              <img class="img-circle" src="{% static "img/very_customized.jpg" %}" style="width: 140px; height: 140px;">
              <h2>Very customized</h2>
              <p>You decide what goes where, how much you want to share and with whom. This is your portal and you can make it all you want it to be.</p>
            </div><!-- /.col-lg-4 -->
            <div class="intro-box col-lg-3">
              <img class="img-circle" src="{% static "img/free_time.jpg" %}" style="width: 140px; height: 140px;">
              <h2>More free time</h2>
              <p>So now there's no more logging into multiple websites. That's a whole lot more of free time for you!</p>
            </div><!-- /.col-lg-4 -->
          </div><!-- /.row -->

         <hr id="featurette-divider">

         <footer>
            <p>&copy; 2014 All. About. Me. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
          </footer>

     </div>
     {% endblock %}


        <!-- jQuery Version 1.11.0 -->
        <script src="{% static "js/jquery-1.11.0.js" %}"></script>

        <!-- Custom JavaScript files -->
        <script src="{% static "js/custom/dashboard.js" %}"></script>
        <script src="{% static "js/custom/social.js" %}"></script>
        <script src="{% static "js/custom/news.js" %}"></script>
        <script src="{% static "js/custom/deals.js" %}"></script>
        <script src="{% static "js/custom/entertainment.js" %}"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="{% static "js/bootstrap.min.js" %}"></script>

        <!-- Metis Menu Plugin JavaScript -->
        <script src="{% static "js/plugins/metisMenu/metisMenu.min.js" %}"></script>

        <!-- Morris Charts JavaScript -->
        {#    <script src="{% static "js/plugins/morris/raphael.min.js" %}"></script>#}
        {#    <script src="{% static "js/plugins/morris/morris.min.js" %}"></script>#}
        {#    <script src="{% static "js/plugins/morris/morris-data.js" %}"></script>#}

        <!-- Custom Theme JavaScript -->
        <script src="{% static "js/sb-admin-2.js" %}"></script>

    </body>

</html>